<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ebc39e">  <td>19/06/30 12:53:59</td>   <td>0</td> <td title="&gt;&gt;ProjectSpecificMethods.beforeSuite()[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24030126</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/06/30 12:53:59</td>   <td>15</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.beforeTest()[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24030126</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/06/30 12:53:59</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.beforeClass()[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@30954770</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/06/30 12:53:59</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAndDelete.setData()[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@30954770</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/06/30 12:54:00</td>   <td>660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.aLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">&gt;&gt;aLogin</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@30954770</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/06/30 12:54:21</td>   <td>22029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAndDelete.createAndDelete(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">createAndDelete</td> 
  <td>TestNG-test=Test-1@30954770</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/06/30 12:54:28</td>   <td>28602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.CloseBrowser()[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@30954770</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/06/30 12:54:32</td>   <td>32783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.aLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">&gt;&gt;aLogin</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@30954770</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/06/30 12:54:55</td>   <td>56230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAndDelete.createAndDelete(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">createAndDelete</td> 
  <td>TestNG-test=Test-1@30954770</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/06/30 12:55:02</td>   <td>63316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.CloseBrowser()[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@30954770</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/06/30 12:55:07</td>   <td>67765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.aLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">&gt;&gt;aLogin</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@30954770</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/06/30 12:55:24</td>   <td>85035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAndDelete.createAndDelete(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">createAndDelete</td> 
  <td>TestNG-test=Test-1@30954770</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/06/30 12:55:31</td>   <td>92173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.CloseBrowser()[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@30954770</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/06/30 12:55:35</td>   <td>96345</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.afterClass()[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@30954770</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/06/30 12:55:35</td>   <td>96351</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.AfterTest()[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24030126</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>19/06/30 12:55:36</td>   <td>96415</td> <td title="&lt;&lt;ProjectSpecificMethods.AfterSuite()[pri:0, instance:org.testleaf.leaftaps.seleniumbase.CreateAndDelete@1e2dbf3]">&lt;&lt;AfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24030126</td>   <td></td> </tr>
</table>
